
.example-template-container {
    text-align: center;
    width: 100%;
    min-height: 1px;
    height: auto;
    background: $white;
}

.examples-list {
    text-align: left;
    padding-left: 30px;
    font-weight: 900;
}

.example {
    font-weight: 900;
}