<nav>
    <div class="nav-container">
        <div class="icon">
            <img src="assets/images/deloitte-logo.png" alt="Deloitte Logo"/>
        </div>
        <div class="nav-items-container">
            <a href="/" data-navigo class="nav-item">
                Home
            </a>
            <a href="/example" data-navigo class="nav-item">
                Example
            </a>
        </div>
    </div>
</nav>
<app-template>
    {{!-- COMPONENT TEMPLATE / COMPONENTS RENDERED HERE --}}
</app-template>