.application-container {
    width: 100vw;
    min-height: 100vh;
    padding: 0px 10px;
    background: lightgrey;
}

template {
    width: auto;
    min-height: 100%;
    max-width: 1500px;
    margin: 0 auto;
    background: gray;
}