<div class="template-container">
    <h1>Test Template - Home</h1>
    <a href="/notFound" data-navigo>
        <button>Not Found</button>
    </a>
    <a href="/loading" data-navigo>
        <button>
            Loading
        </button>
    </a>
</div>