<div class="examples-list">
    {{#if examples}}
        {{#each examples}}
        <div class="example">
            <h3>{{title}}</h3>
            <h5>{{content}}</h5>
        </div>
        {{/each}}
    {{else}}
        <div class="example">
            <h2> Sorry Not Examples.</h2>
        </div>
    {{/if}}
</div>